body {
  background-image: url(images-projets/space_background.jpg);
  margin: 0em;
 }
 
 ul {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-family: arial;
  z-index: 2;
 }
 
 ul li {
  float: left;
  width: 20vw;
  background-color: black;
  opacity: .8;
  line-height: 2em;
  text-align: center;
 }
 
 ul li a {
  text-decoration: none;
  color: white;
  display: block;
  font-size: 1vw;
 }
 
 ul li:not(.title-site):hover
  {
  background-color: green;
  }
 
 
 .title-site a
  {
   font-family: 'Alatsi', sans-serif;
   font-size: 1.5vw;
  }

.rocket
  {
    margin-left: 10px;
    margin-top: 10px;
    height: 1vw;
    width: 1vw;
  }

