html{
    scroll-behavior: smooth;
  }
  body {
    background-image: url(images-projets/Stars_background.jpg);
    margin: 0em;
    scroll-behavior: smooth;
   }
   
   ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: arial;
    z-index: 2;
   }
   
   ul li {
    float: left;
    width: 20%;
    background-color: black;
    opacity: .8;
    line-height: 3em;
    text-align: center;
    font-size: 1.25em;
   }
   
   ul li a {
    text-decoration: none;
    color: white;
    display: block;
   }
   
   ul li a:hover
    {
    background-color: green;
    }
  
   ul li ul li{
    display: none;
    width: 100%;
   }
  
   ul li ul li a
   {
    font-size: 0.75em;
   }
   
   ul li:hover ul li {
    display: block;
   }
  
  ul li ul li:hover
  {
    background-color: green;
  }
  
   .title-site a
    {
     font-family: 'Alatsi', sans-serif;
     font-size: 1.5vw;
    }
  
  .rocket
    {
      margin-left: 0.5em;
      margin-top: 0.5em;
      height: 1vw;
      width: 1vw;
    }
  
  
  
  .saturne
  {
  float:left; 
  margin-left: 3em; 
  margin-top: 14em;
  }
  
  
  
  .fixed
  {
  position: fixed;
  width: 100%;
  }
  
  
  
  .info-saturne {
  background: #000000;
  opacity: .7;
  text-decoration: none;
  text-align: center;
  font-size : 1.25em;
  top: 13em;
  left: 38em;
  width: 18vw;
  height: 35vh;
  margin: 0px;
  color: rgb(255, 255, 255);
  display: none;
  position: absolute;
  font-family: arial;
  z-index: 1;  
  }
  
  .textbox
  {
  text-align: left;
  margin: 10px;
  }
  
  
  .saturne:hover ~ .info-saturne
  {
  display: block;
  }
  
  
  .jupiter
  {
    float: right; 
    margin-right: 6em; 
    margin-top: 36em;
  }
  
  
  .info-jupiter
  {
    background: #000000;
    opacity: .7;
    text-decoration: none;
    text-align: center;
    font-size : 1.25em;
    width: 18vw;
    height: 35vh;
    margin: 0px;
    color: rgb(255, 255, 255);
    display: none;
    position: absolute;
    top: 30em;
    left: 46em;
    font-family: arial;
    z-index: 1;
  }
  
  .jupiter:hover ~ .info-jupiter
  {
    display: block;
  }
  
  .neptune
  {
    float:left; 
    margin-left: 0.5em; 
    margin-top: 67em;
  }
  
  .info-neptune
  {
    background: #000000;
    opacity: .7;
    text-decoration: none;
    text-align: center;
    font-size : 1.25em;
    width: 18vw;
    height: 35vh;
    margin: 0px;
    color: rgb(255, 255, 255);
    display: none;
    position: absolute;
    top: 56em;
    left: 18em;
    font-family: arial;
    z-index: 1;
  }
  
  .neptune:hover ~ .info-neptune
  {
    display: block;
  }
  
  .uranus
  {
    float: right; 
    margin-right: 6em; 
    margin-top: 36em;
  }
  
  .info-uranus
  {
    background: #000000;
    opacity: .7;
    text-decoration: none;
    text-align: center;
    font-size : 1.25em;
    width: 18vw;
    height: 35vh;
    margin: 0px;
    color: rgb(255, 255, 255);
    display: none;
    position: absolute;
    top: 79em;
    left: 46em;
    font-family: arial;
    z-index: 1;
  }
  
  .uranus:hover ~ .info-uranus
  {
    display: block;
  }
  