body {
    background-image: url(images-projets/stars-3840x2160-4k-6347.jpg);
    margin: 0em;
   }
   
ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
    font-family: arial;
    z-index: 2;
   }
   
   ul li {
    float: left;
    width: 20%;
    background-color: black;
    opacity: .8;
    line-height: 3em;
    text-align: center;
    font-size: 1.25em;
   }
   
   ul li a {
    text-decoration: none;
    color: white;
    display: block;
   }
   
   ul li a:hover
    {
    background-color: green;
    }
  
   ul li ul li{
    display: none;
    width: 100%;
   }
  
   ul li ul li a
   {
    font-size: 0.75em;
   }
   
   ul li:hover ul li {
    display: block;
   }
  
  ul li ul li:hover
  {
    background-color: green;
  }
  
   .title-site a
    {
     font-family: 'Alatsi', sans-serif;
     font-size: 1.5vw;
    }
  
.rocket
{
      margin-left: 10px;
      margin-top: 10px;
      height: 1vw;
      width: 1vw;
}
  

#AstronoGeekLogo
{
    position: absolute;
	width:12vw;
	height:12vw;
	left: 6vw;
    top: 10vw;
    border-radius: 60%;
    z-index: 2;
    transition: transform 0.5s 0.2s;
}

#AstronoGeekLogo:hover
{
    transform: scale(1.1);

}

#AstronoGeekLogo:hover ~ #AstronoGeekInfo
{
    visibility: visible;
    opacity: .7;
    animation: Apparition2 1s;
}

#AstronoGeekInfo
{
    background: #000000;
    opacity: 0;
    text-decoration: none;
    font-size : 1.35vw;
    height: 12.5vw;
    width: 76vw;
    color: rgb(255, 255, 255);
    font-family: arial, sans-serif;
    z-index: 1;
    visibility: hidden;
    position: absolute;
    display: block;
    margin-top: 9.5vw;
    margin-left: 20vw;
    transition: visibility 0s, opacity 0.5s linear;
}

#AstronoGeekInfo a
{
   position: absolute;
   text-align: left;
   margin-left: 5.5vw;
   margin-right: 2vw;
   margin-top: 1.12vh;
   margin-bottom: 1vh;
}


.videoastro
{
    position: absolute;
    margin-top: 50.5vh;
    left: 10vw;
    width: 23vw;
    height: 13vw;
    border-radius: 5%;
    animation: Apparition 3s;
}

.videoastro2
{
    position: absolute;
    margin-top: 50.5vh;
    left: 40vw;
    border-radius: 5%;
    width: 23vw;
    height: 13vw;
    animation: Apparition 3s;
}

.videoastro3
{
    position: absolute;
    margin-top: 50.5vh;
    left: 70vw;
    border-radius: 5%;
    width: 23vw;
    height: 13vw;
    animation: Apparition 3s;
}

@keyframes Apparition {
    from{
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes Apparition2 {
    from{
        width: 0vw;
        font-size: 0vw;
    }
    to {
        width: 76vw;
        font-size: 1.35vw;
    }
}


@media (min-device-width: 360px) and (max-device-height: 852px) and (orientation : portrait)
{

    ul{
      display: block;
    }
    ul li {
      line-height: 3.5em;
      width: 100%;
     }

    ul li a {

      font-size: 1.5em;
    }

    .title-site a
    {
      font-size: 2em;
    }

    .rocket
    {
        height: 0.85em;
        width: 0.85em;
    }

    #AstronoGeekLogo
    {
        top: 50vw;
        left: 38vw;
        width: 22vw;
        height: 22vw;
    }

    #AstronoGeekInfo
    {
        top : 70vw;
        margin-left: 1vw;
        height: 50vw;
        width: 98vw;
        font-size: 2em;
    }

    .videoastro
    {
        margin-top: 63vh;
        left: 14vw;
        width: 73vw;
        height: 40vw;
    }

    .videoastro2
    {
        margin-top: 82vh;
        left: 14vw;
        width: 73vw;
        height: 40vw;
    }

    .videoastro3
    {
        margin-top: 102vh;
        left: 14vw;
        width: 73vw;
        height: 40vw;
    }
}