.switch ul li {   
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}

.switch ul li a{
    color: black;
}

.switch div
{
    background-color: white;
    color: black;

}

.switch .minibox
{
    border-top: 0.15em solid black;
  border-right: 00.15em solid black;
}

.switch .minibox h1
{
    color: green;
}


.switch .informations_site a
{

    color:black;

}

.switch #AstronoGeekInfo a
{

    color: black;
}

.switch  ul li:not(.title-site):hover
{
    background-color: cyan;
}

.switch .carre-formulaire input
{
    background-color: black;
    opacity: 0.5;
}

.switch .carre-formulaire textarea
{
    background-color: black;
    opacity: 0.5;
}

.switch .informations h1
{
    color: black;
}

.switch .informations h2
{
    color: black;
}